[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "<1.17"
tensorflow-gpu = "==2.0.0-beta1"
pykitti = "*"
opencv-python = "*"
numpy-quaternion = "*"
numba = "*"
scipy = "*"
matplotlib = "*"
pydot = "*"
graphviz = "*"

[requires]
python_version = "3.6"
